<h2>Log in</h2>

<% if @errors %>
  <%= render "/errors" %>
<% end %>

<%= form_for(:user, url: '/sessions') do |f| %>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :entity_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :entity_email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
