<nav>
  <%= link_to 'Home', root_path %>
  <% if user_logged_in? %>
    <%= link_to current_user.entity_name.capitalize, user_path(current_user) %>
    <%= link_to "Log Out", sessions_path, method: :delete  %>
  <% else %>
    <%= link_to "Log In", new_session_path  %>
    <%= link_to "Sign Up", new_user_path  %>
  <% end %>
</nav>
